<% @beers.each do |beer| %>
<tr>
  <td>
	<%= link_to beer.brewery, params.merge(:search => beer.brewery), :class => "link-search" %>
  <td>
	<%= beer.brew %> <span style="float: right;"><%= "#{beer.year}" %></span>
  <td>
	<%= link_to beer.style, params.merge(:search => beer.style), :class => "link-search" %>
  <td>
    <%= beer.abv_int %> %
  <td>
	<%= beer.ibu_int %>
  <td class="rating">
	<%= beer.average_rating.round(1) %>
  <% if current_user.present? %>
  <td class="rating">
	  <% rating = Rating.find_by_user_id_and_beer_id(current_user.id, beer.id) %>
	  <a data-toggle="modal" href="#rate-beer-<%= beer.id %>">
	<% if rating.present? %>
	  <% @rating = rating %>
	  <%= @rating.rate.round(1) %>
    <% else %>	
	  <% @rating = Rating.new %>
	  rate
	<% end %>
	</a>
	<div class="modal hide fade" id="rate-beer-<%= beer.id %>">
	  <div class="modal-header">
	    <button class="close" data-dismiss="modal">×</button>
	    <h2>Rate: <%= beer.brewery %> <%= beer.brew %></h2>
	  </div>
	  <div class="modal-body" style="text-align: center;">
		<%= form_for @rating do |f| %>
		  <%= f.hidden_field(:beer_id, :value => beer.id) %>
		  <%= f.text_field :rate %>
		<%= f.submit :class => "btn btn-primary" %>
		<% end %>  
		<br>
		<p style="font-size: 1.2em;">0.0 (worst) - 10.0 (best)
	  </div>
	</div>		  
	<% end %>
  <td style="width: 80px;">
	<button data-id="<%= beer.id %>" data-toggle="collapse" data-target="#beer-form-<%= beer.id %>" class="beer-row btn edit-button">edit</button>
  </tr>
      <tr id="beer-row-<%= beer.id %>" class="beer-row edit-beer-row" style="display: none;">
	  <%= form_for beer, :as => :beer, :url => beer_path(beer), :method => :put do |f| %>
	    <%= render 'beers/fields', :f => f %>
	  <% end %>
<% end %>