<table class="table">
	<tr class="loading"><td></tr>
	<tr>
	  <th>
		<%= sortable "brewery" %>
	  <th>
		<%= sortable "brew", "beer" %>
	  <th>
		<%= sortable "style" %>
	  <th>
		<%= sortable "abv", "ABV" %>
	  <th>
	    <%= sortable "ibu_int", "ibu" %>
	  <th>
		<%= sortable "year" %>
	  <th class="rating">
		<%= sortable "average_rating", "avg rating" %>
	  <th class="rating">
	  <% if current_user.present? %>
		<%= params[:action] == "my_beers" ? (sortable "rate", "your rating") : (link_to "your rating", my_beers_path) %>
	  <% end %>
	  <th>
      <% if params[:action] == "index" %>
		<div class="" style="text-align:left;">
		  <button class="new-beer-row btn btn-primary">new beer</a>
		</div>
	<tr class="beer-row" style="display: none;" id="new-beer-row">
	    <%= form_for Beer.new do |f| %>
	      <%= render 'beers/fields', :f => f %>
	    <% end %>
	  <% else %>
	  <%= link_to "all beers", beers_path, :class => "btn btn-primary" %>
	  <% end %>
	
	<% @beers.each do |beer| %>
	<tr>
	  <td>
		<%= beer.brewery %>
	  <td>
		<%= beer.brew %>
	  <td>
		<%= beer.style %>
	  <td>
		<%= beer.abv %> %
	  <td>
		<%= beer.ibu_int %>
	  <td>
		<%= beer.year %>
	  <td class="rating">
		<%= beer.average_rating.round(1) %>
	  <td class="rating">
		<% if current_user.present? %>
		  <% rating = Rating.find_by_user_id_and_beer_id(current_user.id, beer.id) %>
		  <a data-toggle="modal" href="#rate-beer-<%= beer.id %>">
		<% if rating.present? %>
		  <% @rating = rating %>
		  <%= @rating.rate.round(1) %>
	    <% else %>	
		  <% @rating = Rating.new %>
		  rate
		<% end %>
		</a>
		<div class="modal hide fade" id="rate-beer-<%= beer.id %>">
		  <div class="modal-header">
		    <button class="close" data-dismiss="modal">×</button>
		    <h3>Rate <%= beer.brew %></h3>
		  </div>
		  <div class="modal-body">
			<%= form_for @rating do |f| %>
			  <%= f.hidden_field(:beer_id, :value => beer.id) %>
			  <%= f.text_field :rate %>
			<%= f.submit %>
			<% end %>  
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn">Close</a>
		    <a href="#" class="btn btn-primary">Save changes</a>
		  </div>
		</div>		  
		<% end %>
	  <td style="width: 80px;">
		<button id="<%= beer.id %>" data-toggle="collapse" data-target="#beer-form-<%= beer.id %>" class="beer-row btn edit-button">edit</button>
	  </tr>
      <tr id="beer-row-<%= beer.id %>" class="beer-row" style="display: none;">
		  <%= form_for beer do |f| %>
		    <%= render 'beers/fields', :f => f %>
		  <% end %>
	<% end %>
</table>