<div id="loading" class="hidden" style="clear:both; float:left;">loading... </div>
<table class="table">
	<tr>
	  <th class="sortable">
		<%= sortable "brewery" %>
	  <th class="sortable">
		<%= sortable "brew", "beer" %>
	  <th class="sortable">
		<%= sortable "style" %>
      <th class="sortable">
		<%= sortable "abv_int", "ABV" %>
	  <th class="sortable">
	    <%= sortable "ibu_int", "ibu" %>
	  <th class="rating sortable">
		<%= sortable "average_rating", "avg rating" %>
	  <% if current_user.present? %>
	  <% if params[:action] == "my_beers" %>
	    <th class="rating sortable">
		  <%= sortable "rate", "your rating" %>
	  <% else %> 
	    <th class="rating">
	  	  <%= link_to "your rating", my_beers_path %>
	  <% end %>
	  <% end %>
	  <th>
      <% if params[:action] == "index" %>
		<div class="" style="text-align:left;">
		  <button id="new-beer" class="new-beer-row btn btn-primary">new beer</a>
		</div>
	<tr class="beer-row" style="display: none;" id="new-beer-row">
	    <%= form_for Beer.new do |f| %>
		  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	      <%= render 'beers/fields', :f => f %>
	    <% end %>
	  <% else %>
	  <%= link_to "all beers", beers_path, :class => "btn btn-primary" %>
	  <% end %>
	
	<% @beers.each do |beer| %>
	<tr>
	  <td>
		<%= link_to beer.brewery, params.merge(:search => beer.brewery), :class => "link-search" %>
	  <td class="beer">
		<%= link_to beer.brew, beer %> <span style="float: right;"><%= "#{beer.year}" %></span>
	  <td>
		<%= link_to beer.style, params.merge(:search => beer.style), :class => "link-search" %>
	  <td>
	    <%= beer.abv_int %> %
	  <td>
		<%= beer.ibu_int unless beer.ibu_int == 0 %>
	  <td class="rating" id="average_rating_<%= beer.id %>">
		<%= beer.average_rating != 0 ? beer.average_rating.round(1) : "n/a" %>
	  <% if current_user.present? %>
	  
	
	  <td class="rating">
		
	  <a data-toggle="modal" href="#rate-beer-<%= beer.id %>" id="rating_<%= beer.id %>">
		<% @rating = find_rating(current_user.id, beer.id) %>
		<%= @rating.rate.present? ? @rating.rate.round(1) : "rate" %>
	  </a>
	
	
	  <div class="modal hide fade modal-rating" id="rate-beer-<%= beer.id %>">
     	<div id="rating_modal_<%= beer.id %>">
	      <%= render 'ratings/rating_modal', :beer => beer %>
	    </div>
	  </div>	
	  <% end %>
	
	
	  <td style="width: 80px;">
		<button data-id="<%= beer.id %>" data-toggle="collapse" data-target="#beer-form-<%= beer.id %>" class="beer-row btn edit-button">edit</button>
	  </tr>
      <tr id="beer-row-<%= beer.id %>" class="beer-row edit-beer-row" style="display: none;">
		  <%= form_for beer, :as => :beer, :url => beer_path(beer), :method => :put do |f| %>
		  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		
		    <%= render 'beers/fields', :f => f %>
		  <% end %>
	<% end %>
	<tr>
		<td colspan=7>
			<%= will_paginate @beers, :class => "nice_pagination" %>
</table>

<div class="modal beer-show-modal hide fade in" id="beer_show_modal">
  <div style="padding: 15px;">
    <button class="close" data-dismiss="modal">×</button>
  </div>
  <div id="beer_show"></div>
</div>