<div id="loading" class="hidden" style="clear:both; float:left;">loading... </div>
<table class="table">
	<tr>
	  <th class="sortable">
		<%= sortable "brewery" %>
	  <th class="sortable">
		<%= sortable "brew", "beer" %>
	  <th class="sortable">
		<%= sortable "style" %>
      <th class="sortable">
		<%= sortable "abv_int", "ABV" %>
	  <th class="sortable">
	    <%= sortable "ibu_int", "ibu" %>
	  <th class="rating sortable">
		<%= sortable "average_rating", "avg rating" %>
	  <% if current_user.present? %>
	  <% if params[:action] == "my_beers" %>
	    <th class="rating sortable">
		  <%= sortable "rate", "your rating" %>
	  <% else %> 
	    <th class="rating">
	  	  <%= link_to "your rating", my_beers_path %>
	  <% end %>
	  <% end %>
	  <th>
      <% if params[:action] == "index" %>
		<div class="" style="text-align:left;">
		  <button id="new-beer" class="new-beer-row btn btn-primary">new beer</a>
		</div>
	<tr class="beer-row" style="display: none;" id="new-beer-row">
	    <%= form_for Beer.new do |f| %>
	      <%= render 'beers/fields', :f => f %>
	    <% end %>
	  <% else %>
	  <%= link_to "all beers", beers_path, :class => "btn btn-primary" %>
	  <% end %>
	
	<% @beers.each do |beer| %>
	<tr>
	  <td>
		<%= link_to beer.brewery, params.merge(:search => beer.brewery) %>
	  <td>
		<%= beer.brew %> <span style="float: right;"><%= "#{beer.year}" %></span>
	  <td>
		<%= link_to beer.style, params.merge(:search => beer.style) %>
	  <td>
	    <%= beer.abv_int %> %
	  <td>
		<%= beer.ibu_int %>
	  <td class="rating">
		<%= beer.average_rating.round(1) %>
	  <% if current_user.present? %>
	  <td class="rating">
		  <% rating = Rating.find_by_user_id_and_beer_id(current_user.id, beer.id) %>
		  <a data-toggle="modal" href="#rate-beer-<%= beer.id %>">
		<% if rating.present? %>
		  <% @rating = rating %>
		  <%= @rating.rate.round(1) %>
	    <% else %>	
		  <% @rating = Rating.new %>
		  rate
		<% end %>
		</a>
		<div class="modal hide fade" id="rate-beer-<%= beer.id %>">
		  <div class="modal-header">
		    <button class="close" data-dismiss="modal">×</button>
		    <h2>Rate: <%= beer.brewery %> <%= beer.brew %></h2>
		  </div>
		  <div class="modal-body" style="text-align: center;">
			<%= form_for @rating do |f| %>
			  <%= f.hidden_field(:beer_id, :value => beer.id) %>
			  <%= f.hidden_field(:authenticity_token, :value => form_authenticity_token)%>
			  <%= f.text_field :rate %>
			<%= f.submit :class => "btn btn-primary" %>
			<% end %>  
			<br>
			<p style="font-size: 1.2em;">0.0 (worst) - 10.0 (best)
		  </div>
		  
		</div>		  
		<% end %>
	  <td style="width: 80px;">
		<button id="<%= beer.id %>" data-toggle="collapse" data-target="#beer-form-<%= beer.id %>" class="beer-row btn edit-button">edit</button>
	  </tr>
      <tr id="beer-row-<%= beer.id %>" class="beer-row" style="display: none;">
		  <%= form_for beer, :method => :put do |f| %>
		    <%= render 'beers/fields', :f => f %>
		  <% end %>
	<% end %>
	<tr>
		<td colspan=7>
			<%= will_paginate @beers, :class => "nice_pagination" %>
</table>