<!DOCTYPE html>
<html>
<head>
  <title><%= hero.first %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="debug"><%= render "layouts/debug" %></div>
	<div class="hero-unit">
	  <div style="float:right; text-align: right; width: 20%;">
		<div id="user_info">
		<% if !current_user %>
			<p><%= link_to "log in", new_user_session_path %></p>
			<p>
			<a href="/users/auth/google_oauth2" class="auth_provider">
			through google
			</a>
		    <p><%= link_to "sign up", new_user_registration_path %></p>
		<% else %>
		  <p>logged in as <%= current_user.email.split('@').first %></p>
		  <p><%= link_to "sign out", sign_out_path %>
		<% end %>
		</div>
		<div id="flash_messages">
	      <%= render 'layouts/alerts' %>
		</div>
	</div>
	<h1><%= hero.first %></h1>
	<p> <%= hero.last %></p>
	</div>
	
	<div class="container">
  <%= yield %>
    </div>

</body>
</html>
